.bottom-buffer { 
	margin-bottom: 20px; 
}

.yellow {
	background: #F9F479;
}

.sticky-input {
	margin-bottom: 5px;
	width: 100%;
	max-width: 100%; 
	height: 240px;
}

.sticky {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	border: 0;
	padding: 18px;
}

/* prefer this top right as 'X', but don't want to fight with scrollbar */
.sticky-corner {
	position: absolute;
	bottom: 3;
	right: 40;
}

.sticky-corner.close {
	font-size: 14;
	color: red;
}

.sticky-text-box {
	height: 275px;
	word-wrap: break-word;
	overflow-y: auto;
	overflow-x: hidden;
}
